<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Projecte Omic</title>
</head>
<body>
    <h1>Benvingut a Projecte Omic</h1>
    <form id="blastpForm">
        <label for="numero_acceso">Accession Number:</label>
        <input type="text" id="numero_acceso" name="numero_acceso" required>
        <button type="submit">Executar BLASTP</button>
    </form>
    <div id="resultArea"></div>
    <script src="../static/app.js"></script>
</body>
</html>